###############################
# DEFAULT 
###############################
enabled: true
grpc: true
developer: false
scheduler: true
worker: true
grpc: false
name: plugin
replicas: 1
image:
    name: spaceone/plugin
    version: latest
imagePullPolicy: IfNotPresent

# Overwrite database
database: {}

# Overwrite application config
application: {}

# Overwrite scheduler config
#application_scheduler: {}
application_scheduler:
    QUEUES:
        plugin_cleanup_q:
            backend: spaceone.core.queue.redis_queue.RedisQueue
            host: redis
            port: 6379
            channel: plugin_cleanup_q

    SCHEDULERS:
        cleanup_scheduler:
            backend: spaceone.plugin.scheduler.cleanup_scheduler.CleanupScheduler
            queue: plugin_cleanup_q
            interval: 1
            minute: ':01'

# plugin need TOKEN or TOKEN_INFO
#    TOKEN: xxxx
#    TOKEN_INFO:
#        protocol: consul
#        config:
#            host: consul
#        uri: debug/supervisor/TOKEN

# Overwrite worker config
#application_worker: {}
application_worker:
    QUEUES:
        plugin_cleanup_q:
            backend: spaceone.core.queue.redis_queue.RedisQueue
            host: redis
            port: 6379
            channel: plugin_cleanup_q

    WORKERS:
        cleanup_worker:
            backend: spaceone.core.scheduler.worker.BaseWorker
            queue: plugin_cleanup_q
            pool: 1

# local sidecar
##########################
#sidecar:


##########################
# Local volumes
##########################
volumes:
    - name: timezone
      hostPath:
          path: /usr/share/zoneinfo/Asia/Seoul
    - name: log-volume
      emptyDir: {}

#######################
# global variable
#######################
global:
    shared: {}
    sidecar: []
#        - name: mongos
#          image: mongo:4.4.0-bionic
#          command: [ 'mongos', '--config', '/mnt/mongos.yml', '--bind_ip_all' ]
#          volumeMounts:
#            - name: mongos-conf
#              mountPath: /mnt/mongos.yml
#              subPath: mongos.yml
#              readOnly: true
#            - name: mongo-shard-key
#              mountPath: /opt/mongos/mongo-shard.pem
#              subPath: mongo-shard.pem
#              readOnly: true
#
    volumes: []
#        - name: mongo-shard-key
#          secret:
#              defaultMode: 0400
#              secretName: mongo-shard-key
#        - name: mongos-conf
#          configMap:
#              name: mongos-conf
#        - name: shared-conf
#          configMap:
#              name: shared-conf

    
# Service
service:
    type: ClusterIP
    annotations:
        nil: nil
    ports:
        - name: grpc
          port: 50051
          targetPort: 50051
          protocol: TCP

################################
# volumeMount per deployment
################################
volumeMounts:
    application_grpc: []
    application_rest: []
    application_scheduler: []
    application_worker: []
